<p id="notice"><%= notice %></p>

<h2>Article</h2>

<p>
  <strong>Reference: <strong>
  <%= @resource.reference %>
</p>

<p>
  <strong>Brand: <strong>
  <%= @resource.brand ? @resource.brand.name : 'None' %>
</p>
<%= link_to 'Edit', edit_api_article_path(@resource) %> |
<%= link_to 'Back', api_articles_path %>
