<p id="notice"><%= notice %></p>

<h1>Listing Api V1 Suppliers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @resources.each do |supplier| %>
      <tr>
        <td><%= link_to 'Show', api_supplier_path(supplier) %></td>
        <td><%= link_to 'Edit', edit_api_supplier_path(supplier) %></td>
        <td><%= link_to 'Destroy', api_supplier_path(supplier), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Supplier', new_api_supplier_path %>
