<p id="notice"><%= notice %></p>

<h2>Location</h2>

<p>
  <strong>name: <strong>
  <%= @resource.name %>
</p>

<p>
  <strong>Stock: <strong>
  <%= @resource.stock ? @resource.stock.name : 'None' %>
</p>
<%= link_to 'Edit', edit_api_location_path(@resource) %> |
<%= link_to 'Back', api_locations_path %>
