<% if @resource.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this supply from being saved:</h2>

    <ul>
      <% @resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<p>
<%= form.label :ref_supplier %>
<%= form.text_field :ref_supplier %>
</p>

<p>
<%= form.label :article %>
<%= form.collection_select(:article_id, @articles, :id, :reference, {:include_blank => true}) %>
</p>

<p>
<%= form.label :supplier %>
<%= form.collection_select(:supplier_id, @suppliers, :id, :name, {:include_blank => true}) %>
</p>

<p>
<%= form.label :price %>
<%= form.text_field :price %>
</p>

<div class="actions">
  <%= form.submit %>
</div>
