<p id="notice"><%= notice %></p>

<h2>Address</h2>

<p>
  <strong>Street: <strong>
  <%= @resource.street %>
</p>

<p>
  <strong>StreetNumber: <strong>
  <%= @resource.street_number %>
</p>

<p>
  <strong>Additional information: <strong>
  <%= @resource.additional_information %>
</p>

<p>
  <strong>Zipcode: <strong>
  <%= @resource.zipcode %>
</p>

<p>
  <strong>Town: <strong>
  <%= @resource.town %>
</p>

<p>
  <strong>State: <strong>
  <%= @resource.state %>
</p>

<p>
  <strong>Country: <strong>
  <%= @resource.country %>
</p>

<%= link_to 'Edit', edit_api_address_path(@resource) %> |
<%= link_to 'Back', api_addresses_path %>
